# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
env/
venv/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# OS / editor
.DS_Store
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb
